.header {
    display: flex;
}

.header {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    display: none;
}

.leftLink {
    margin: auto 10px;
    padding: 20px;
}

.navHead {
    gap: 5rem;
}

p:hover {
    cursor: pointer;
}

@media screen and (max-width: 559px) {

    .logo {
        width: 65%;
    }

    .navHead {
        width: 50%;
        gap: 1.2rem;
    }

    .navHead {
        font-size: 12px;
    }

    .logout {
        font-size: 8px;
        padding: 3px;
    }
}