
.header {
    display: flex;
  }
.header {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    display: none;
}
.leftLink{
    margin:auto 10px;
    padding: 20px;
}

@media screen and (max-width: 479px){

    .logo {
        width: 65%;
    }
    .navHead{
        width: 50%;
    }
    .navHead {
        font-size: 12px;
    }
}