.App {
  text-align: center;
}

/* HOME NAVBAR CSS  */


.HNavbar.colorChange{
  background-color: #000000;
  
}
/* CHANGE NAVBAR COLOR CSS */

.Navbar{
  background-color: transparent;
  
}

.Navbar.colorChange{
  background-color: black;
  
}


/* SHOW NOT SHOW NAVBAR CSS */

.nav{
  height:30px;
  width: 100%;
  position:fixed;
  top:0;
  /* transition-timing-function: ease-in;
  transition:0.5s */
}

.nav__show{
  background-color:black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ZmsImage{
  width: 100%;
  height: 100%;
  /* margin-top: 60px; */
}

.HomeImage{
  width: 100%;
}

.ZmsImage1{
  filter: blur(3px);
  -webkit-filter: blur(3px);
}


.fly {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  color: white;
  background-color: #3061e7;
  margin-top: 1%;
  margin-left: 40%;
  padding: 10px;
  border-radius: 5px;
  }
  .fly input {
  padding-left: 5px;
  font-size: 18px;
  height: 30px;
  }
  .fly button {
  cursor: pointer;
  width: 50px;
  }
  